.cookie_popup
{ 
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgb(31 27 27 / 68%);
z-index: 998; 

}

.cookie_contener
{

 position: relative;
font-family: 'Open Sans', sans-serif;    

max-width: 80%;
border-radius: 5px;
background-color: rgb(255, 255, 255);
left:50%;
top:5%;
transform:translate(-50%,-50%,);
transform: translateX(-50%);
z-index: 999;

}

.test_contener
{
    position: relative;
font-size: 12px;
margin-top:5px;
margin-left:5px;
margin-right:5px;
margin-bottom:5px;
max-width: 95%;
}
.settings_button
{
       position: relative;

    margin-bottom:5px;
    margin-top:5px;
    margin-left:5px;
    margin-right:5px;
    font-size: 12px;
}

.back_button
{
    position: relative;

    margin-bottom:5px;
    margin-top:5px;
    margin-left:5px;
    margin-right:5px;
    font-size: 12px;
}

.accept_button
{
  
    position: relative;
    margin-top:5px;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:5px;
    font-size: 12px;
}
.popup_text_settings
{
    max-width: 100%;
    position: relative;
font-size: 12px;
margin-top:5px;
margin-left:5px;
margin-right:5px;
margin-bottom:5px;
    color: #5c5c5c;
    text-align: center;

}
.popup_text
{  
    max-width: 100%;
    position: relative;
font-size: 12px;
margin-top:5px;
margin-left:5px;
margin-right:5px;
margin-bottom:5px;
text-align: center;

color: #5c5c5c;

}

.popup_logo
{ 
    position: relative;
    margin-bottom:5px;
    margin-top:0px;
    margin-left:5px;
    margin-right:5px;
    right:40%;
    top: -5%;
    font-size: 12px;

width:100px;
}
.a{
color          : #30492B;
text-decoration: none;
}


